.EditPopUp {
    position: fixed;
    width: 750px;
    height: 790px;
    opacity: 0;
    background-color: rgb(240, 200, 125);

    z-index: 400;

    top: 20%;
    left: 48%; /* these set the postitioning of a fixed element */
    margin-top: -100px;  /* these typically need to be half the width and height of the div */
    margin-left: -250px;
    border-radius: 30px;
    visibility: hidden;
 }

 #EditPopUp.active {
    visibility: visible;
    opacity: 1;
 }


 .EditPopUpContainer {
    
    padding: 20px;
    width: 710px;
    height: 700px;
 }

 .editPopUpSectionContainer {
    background-color: rgb(218, 155, 39);
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 60px;

}

/*  ^^ Containers for notes  */

.Editpopup-close-button{
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition:0.3s;
}

.Editpopup-close-button:hover{
	width: 40px;
	height: 40px;
	box-shadow: 20px 20px 20px rgba(0,0,0,0.1);
}

/*  ^^ Close buttons  */

.NameUrgencyTitleContainer,
.TypeDeadlineTitleContainer {
    
    display: flex;
    justify-content: space-between;
    width: 91%;
    margin-bottom: 5px;
}

.editBugNameTitle,
.editBugUrgencyTitle,
.editBugTypeTitle,
.editBugDeadlineTitle,
.editBugEnvironmentTitle {
    height: 25px;
}


.editBugDescriptionTitle,
.editBugAssignedToTitle {
    height: 25px;
    margin-top: 10px;
}

/*  ^^ Titles  */

.Editpopup-titlegrid {
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 15px;    
 }

 .Editpopup-typegrid{
    height: 60px;
    width: 100%;
   display: grid;
   grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    margin-bottom: 10px;
 }

 .Editpopup-additionalFields {
    height: 425px;
    width: 100%;
    margin-bottom: 5px;
 }

 /*  ^^ Grids and formatting  */

 .Editpopup-title {
    color: rgb(100, 100, 100);
     background-color: rgb(228, 224, 190);
     font-size: 15px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     word-break: break-word;
     justify-content: center;
     align-items: center;

     height: 40px;
 }
 
 .Editpopup-urgency-container {
     display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .Editpopup-urgency {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: black;
 }

.Editpopup-bugtype,
.Editpopup-deadline, 
.Editpopup-bugenvironment,
.Editpopup-bugdescription,
.Editpopup-bugassignto {
	color: rgb(100, 100, 100);
    background-color: rgb(228, 224, 190);
    font-size: 15px;
    display: block;
    word-break: break-word;
	padding: 7px;
    height: 30px;
}

.Editpopup-bugenvironment,
.Editpopup-bugassignto,
.Editpopup-bugdescription {
    width: 97%;
}

.Editpopup-bugdescription {
    height: 200px;
    width: 97%;
    resize: none;
}

.Editpopup-bugassignby {
    background-color: rgb(228, 224, 190);
    padding: 7px;
    height: 30px;
    color: rgb(100, 100, 100);
}

/*  ^^ Fields  */

.buttonSection {
    display: flex;
    height: 55px;
    width: 275px;
    float: right;
}

.doneButtonContainer,
.cancelButtonContainer {
    display: flex;
    height: 100%;
   width: 50%; 
   border-radius: 20px;
   justify-content: space-between;
}

.doneButtonContainer {
    margin-left: 20px;
    background-color: rgb(87, 192, 233);
}

.cancelButtonContainer {
    background-color: rgb(224, 87, 62);
}

.doneButton,
.cancelButton {
    padding: 15px;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   cursor: pointer;
}

.doneButton:hover,
.cancelButton:hover {
    color: aliceblue; 
    border-radius: 20px;
}

.doneButton:hover {
    background-color: rgb(36, 128, 165);
}

.cancelButton:hover {
    background-color: rgb(134, 39, 22);
}

/*  ^^ Buttons  */