main {

padding-top: 150px;
padding-left: 130px;
padding-right: 18px;
}

.mainPage,
.projectSettingsPage {
    visibility: hidden;
    opacity: 0;
}

#mainPage.active,
#projectSettingsPage.active {
    visibility: visible;
    opacity: 1;
}

.mainPage {
    min-height: 250px;
    z-index: 50;
}
.projectSettingsPage {
    display: flex;
    margin-top: -550px;
}