.sidebar {
      background-color: aliceblue;
      border-right: solid;
      border-width: 1px;
      border-color: rgb(219, 223, 226);
      color: white;
      position: fixed;
      left: 0;
      bottom: 0;
      top: 125px;
      width: 125px;
      z-index: 100;
} 

.mainSectionButton,
.section,
.projectEditSectionButton {
  color: rgb(68, 68, 68);
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-size: 15px;
}

.section:hover,
.mainSectionButton:hover,
.projectEditSectionButton:hover {
  border-bottom: solid;
  border-width: 3px;
  border-color: rgb(184, 184, 184);
  background-color: rgb(216, 222, 228);
}

.projectEditSectionButton {
  font-size: 13px;
}

#mainSectionButtonID.selected,
#projectEditSectionButtonID.selected {
  border-bottom: solid;
  border-width: 3px;
  border-color: rgb(184, 184, 184);
  background-color: rgb(216, 222, 228);
}