.titles {
    display: flex;
}

.titleContainer {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.bugFilterContainer {
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-left: 12px;
}

.sprintSelectionContainer {
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.sprintName {
    display: inline;
}

.selectionBox {
    margin-left: 10px;
}

.sectionOne {

    
}

.sectionTwo {

    
}

.sectionThree {
 
    
}