<!DOCTYPE html> <!-- This is the layout file, it will automatically set up certain features for each html page-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Tracker</title> <!-- Title of webpage is linked to database! important!-->
</head>
<body>
    <%- body %> <!-- This will import the body of my webpage, currently it is importing index.ejs-->
</body>
</html>