.createProjButton {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    display: inline-block;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.createProjButton:hover {
    cursor: pointer;
    height: 30px;
    width: 150px;

}

.projectsGrid {
    display: grid;
    grid-template-columns: 100px 100px;
    background-color: antiquewhite;
}

.projectName {
    display: inline-block;
}
.projectLink {
    display: inline-block;
}