

.nameSection{
    display: flex;
    background-color: aqua;
    height: 100px;
    width: 100%;
}

.firstNameBox {
    display: flex;
    width: 1fr;
    padding: 20px;
    font-size: 30px;
}

.profilePictureBox {
    display: flex;
    background-color: red;
    width: 1fr
}

.profilePicture {
    display: flex;
}

.titlesSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: brown;
}

.projectsTitle,
.secondSectionTitle {
    display: flex;
    padding: 20px;
    text-align: center;
    min-width: 410px;
}

.title {
    width: 85%;
    font-size: 30px;
}

.createProjButton {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    display: inline-block;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.createProjButton:hover {
    cursor: pointer;
    height: 30px;
    width: 150px;
}

.projectsGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    background-color: antiquewhite;
    float: left;
    width:50%;
    min-width: 430px;
    
}


.projectName {
    display:flex;
    width: 60%;
}

.projectLink,
.editProject,
.deleteProject {
    display:flex;
    width: 25%;
    
}

.projectContainer{

    display:flex;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    padding-right: 70px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.projectContainer.active{
    opacity: 1;
}


.popup-close-button{
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition:0.3s;
}

.popup-close-button:hover{
	width: 40px;
	height: 40px;
	box-shadow: 20px 20px 20px rgba(0,0,0,0.1);
}