


.titlesSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(199, 199, 199);
}

.projectsTitle,
.secondSectionTitle {
    display: flex;
    width: 99.9%;
    min-width: 487px;
    padding-top: 20px;
    padding-bottom: 20px;

    align-items: center;
    justify-content: center;
}

.projectsTitle {
    border-left: solid rgb(177, 175, 175) 0px;
    border-right: solid rgb(177, 175, 175) 2px;
    border-bottom: solid rgb(177, 175, 175) 0px;
    border-top: solid rgb(177, 175, 175) 0px;
}

.secondSectionTitle {
    border-left: solid rgb(177, 175, 175) 2px;
    border-right: solid rgb(177, 175, 175) 0px;
    border-bottom: solid rgb(177, 175, 175) 0px;
    border-top: solid rgb(177, 175, 175) 0px;
}

.projectsTitleContentContainer {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 830px;
    min-width: 350px;

    margin-left: 20px;
    margin-right: 20px;
}

.titleContainer {
    display: flex;
    width: 50%;
    justify-content: left;
}

.title {
    padding-left: 10px;
    display: flex;
    font-size: 30px;
}

.createProjButtonContainer {
    width: 50%;
    display: flex;
    justify-content: right;
}

.createProjButton {
    margin-right: 10px;
    display: flex;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    display: inline-block;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.createProjButton:hover {
    background-color: aqua;
    color: black;
}

