<!DOCTYPE html>
<html>
<head>
    <title>Login</title>    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Kanit:wght@700;800&family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="icon" href="/icons/icon.ico">
    <link rel="stylesheet" href="css/login styles/login.css">
    <link rel="stylesheet" href="css/general styles/general.css">
</head>

<body>
  <main>
		<section class="loginSection">
      
      <% if (messages.error) { %>
        <%= messages.error %>
          <% } %>
        <div class="logoContainer">
        <img class="logo" src="/icons/logo.svg">
        </div>
        <div class="loginSectionContainer">
          <div class="signInTextContainer">
            <div class="Blank">Register</div>
            <div class="signInRightText" onclick="location.href = '/login'">Log-In &nbsp; &nbsp;</div>
            <div class="registerText" onclick="location.href = '/login/register'">Register</div>
          </div>

          <form action="/login/login" method="POST">
          <div class="loginpass">
          <div class="loginDiv">
            <input class="login" type="email" name="login" placeholder="Email" required>
          </div>
          <div class="passwordDiv">
            <input class="password" type="password" name="password" placeholder="Password" required>
          </div>
          </div>
          <div class="loginButtonContainer">
            <button class="loginButton">Login</button>
          </div>
          </form>

          <div class="buttonsContainer">
            <button class="createAccButton" onclick="location.href = '/login/register'">Create an Account
            </button>
            <button class="forgotPassButton">Forgot Password?</button>
          </div>
        </div>
  </section>
      
  </main>
</body>
</html>