<!DOCTYPE html>
<html>
<head>
	<title>Create an Account</title> 
	<link rel="icon" href="/icons/icon.ico">
</head>
<body>
	<main>
		<section class="accCreationSection">
			<form action="/login" method="POST"> <!-- form action is where its getting the information from, POST is the fetch method for writing to databases-->
					<input class="emailBox" type="email" name="email" placeholder="Email" required="text">
				<!-- <input class="confEmailBox" type="email" name="confirmEmail" placeholder="Confirm Email" required> -->	
				
				<input class="usernameBox" type="text" name="username" placeholder="Username" required="text"> 
				
				<input class="passwordBox" type="password" name="password" placeholder="Password" maxlength="15" >
				<!-- <input class="confPasswordBox" type="password" name="confirmPassword" placeholder="Confirm Password" maxlength="15" required> -->
				
				<button type="submit">Register</button> 
			</form>
			<!-- <a href="/login">Login</a> -->
		</section>
	</main>
</body>

</html>