Accounts edit page for <%= id %>
<b></b>
<b></b>

<section class="accEditSection">
    <form action="/mainpage/<%= id %>?_method=PUT" method="POST"> <!-- form action is where its getting the information from, POST is the fetch method for writing to databases-->
        <!-- <input class="confEmailBox" type="email" name="confirmEmail" placeholder="Confirm Email" required> -->	
        
        <input class="firstNameBox" type="text" name="firstname" placeholder="<%= firstname %>" > 
        
        <input class="lastNameBox" type="text" name="lastname" placeholder="<%= lastname %>"> 
        <!-- <input class="confPasswordBox" type="password" name="confirmPassword" placeholder="Confirm Password" maxlength="15" required> -->
        
        <button type="submit">Update</button> 
    </form>

    <a href="/mainpage">Cancel</a>

