<head>
  <title>Login</title>    
  <link rel="icon" href="/icons/icon.ico">
  <link rel="stylesheet" href="css/base screen styles/base screen.css">
  <link rel="stylesheet" href="css/base screen styles/popup.css">
  <script src="javascript/Base_Screen.js"></script>

</head>



Hello <%= username %>

<b></b>
<b></b>

i am working!

<form action="/mainpage/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
  </form>
  <a href="mainpage/user-account-details/<%= id %>/edit">Edit Account</a>

<div class="createProjButton" onclick="openProjectPopUp()">Create Project</div>
<div class="popUpCreateProject" id="popUp">AAAAAAAAAAAAAAA</div>

</div>