<head>
  <title>Login</title>    
  <link rel="icon" href="/icons/icon.ico">
  <link rel="stylesheet" href="css/home screen styles/home screen.css">
  <link rel="stylesheet" href="css/home screen styles/popup.css">
  <script src="javascript/Base_Screen.js"></script>

</head>



Hello <%= username %>

<b></b>
<b></b>

i am working!

<div class="popUpCreateProject" id="popUp">

  <form action="/mainpage/" method="POST">
    <p> Project Name: </p>
    <input class="projectNameBox" name="projectname" type="text" placeholder="Project Name" required="text" minlength="2" maxlength="20">
    <p> Group Name: </p>
    <input class="groupNameBox" name="groupname" type="text" placeholder="Group Name" required="text" minlength="2" maxlength="20">
    <p> Sprint Name: </p>
    <input class="sprintNameBox" name="sprintname" type="text" placeholder="Sprint Name" required="text" minlength="2" maxlength="20">
    <p></p>
    <button type="submit">Save</button>
  </form>
  
</div>
</div>

<!-- VVVVV ignore me im working-->

<div class="createProjButton" onclick="openProjectPopUp()">Create Project</div>

<div class="projectsGrid"></div>

<form action="/mainpage/logout?_method=DELETE" method="POST">
    
  <button type="submit">Log Out</button>
  </form>
  
<a href="mainpage/user-account-details/<%= id %>/edit">Edit Account</a>