Hello <%= username %>

<b></b>
<b></b>

i am working!

<form action="/mainpage/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
  </form>
  <a href="mainpage/user-account-details/<%= id %>/edit">Edit Account</a>
